html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#chart {
  text-align: center;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%
}

#chart td, #chart th {
  border: 1px solid #ddd;
  padding: 8px;
}

#chart tr:nth-child(even){background-color: #f2f2f2;}

#chart tr:hover {background-color: #ddd;}

#chart th{
  padding-top: 12px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 12px;
  text-align: center;
}